{
  "presets": ["es2015", "stage-0", "react", "babel-preset-reactTeam", "flow"],
  "env": {
    "development": {
      "plugins": [
        [
          "react-transform",
          {
            "transforms": [
              {
                "transform": "react-transform-hmr",
                "imports": ["react"],
                "locals": ["module"]
              }
            ]
          }
        ],
        ["react-hot-loader/babel"]
      ]
    }
  },
  "plugins": ["transform-runtime"],
  "retainLines": true
}