.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 60px;
  float: left;
}

.App-header {
  background-color: #222;
  height: 60px;
  padding: 10px;
  color: grey;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* navigation-links-container */

.navigation-links-container {
  /* margin-top: 50px; */
}

.navigation-links-container ul li {
  list-style-type: none;
  display: inline-block;
  padding: 5px;
  border: 2px solid silver;
  border-radius: 5px;
  background-color: lightgrey;
  margin: 0 15px;
  box-shadow: 2px 5px 10px indianred;
}

.navigation-links-container ul li a{
  text-decoration: none;
}



/* */
